.single-post{
  border-top: 5px solid lightcoral;
  padding: 0 0 30px 55px;
  text-transform: capitalize;
}
.single-post-heading{
  color: rgb(168, 48, 48);
}
.gray-text{
  font-size: 15px;
  color: rgb(110, 109, 109);
  font-style: italic;
}